html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, Helvetica, Arial, sans-serif;
    font-size: 19px;
    padding: 16px;
}

.segment {
    margin: 0 0 2em 0;
}

.highlight {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}
